<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
          <a href="/tags/elixir">Elixir.</a> <a href="/tags/ruby">Ruby.</a>
      </p>
    </div>

    <ul class="sidebar-nav">
      <li>
        <a href="/"><span class="social social-rss"></span> Home</a>
      </li>
      {{ range .Site.Menus.main }}
        <li>
          <a href="{{.URL}}">{{.Pre}} {{ .Name }} </a>
        </li>
      {{end}}
    </ul>

    <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{.Now.Format "2006"}}. All rights reserved. {{end}}</p>
  </div>
</div>
